body {
    font-family: Arial,
        sans-serif;
    background: linear-gradient(135deg, #9dacef, #be8eed);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.container {
    background: #ffffff;
    padding: 25px 30px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}


h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}


input {
    width: 30%;
    padding: 12px;
    margin-top: 90px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
    outline: none;
}

h2 {
    margin-top: 0px;
    margin: 70 70 70 70;
}

input:focus {
    border-color: #667eea;
}


.strength {
    margin-top: 15px;
    font-weight: bold;
    font-size: 16px;
}


.weak {
    color: #e74c3c;
}

.medium {
    color: #f39c12;
}

.strong {
    color: #2ecc71;
}


ul {
    margin-top: 15px;
    padding-left: 18px;
}


li {
    .invalid {
        color: #e74c3c;
    }
}